<p id="notice"><%= notice %></p>

<h2>Events</h2>

<div class="table-container">
  <table id="ajax-table" class="display">
  </table>
</div>


<%= link_to 'New Event', new_event_path %>

<br><br>
<!--Import csv code from Hudgens tutorial -->
<h4>Import Events</h4>
<%= form_tag import_events_path, multipart: true do %>
  <%= file_field_tag :file %><br><br>
  <%= submit_tag "Upload Events" %>
<% end %>