<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Dow:</strong>
  <%= @event.dow %>
</p>

<p>
  <strong>Month:</strong>
  <%= @event.month %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @event.genre %>
</p>

<p>
  <strong>Receipts:</strong>
  <%= @event.receipts %>
</p>

<p>
  <strong>Zinz:</strong>
  <%= @event.zinz %>
</p>

<p>
  <strong>Double:</strong>
  <%= @event.double %>
</p>

<p>
  <strong>Composer:</strong>
  <%= @event.composer %>
</p>

<p>
  <strong>Author:</strong>
  <%= @event.author %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
