<p id="notice"><%= notice %></p>

<h3>
  <%= @event.date.strftime("%a, %d %b %Y") %>, <i><%= @event.title %></i>
</h3>

<p>
  <strong>Genre:</strong>
  <%= @event.genre %>
</p>

<p>
  <strong>Receipts:</strong>
  <% r = @event.receipts.divmod(60) %>
  <%= @event.receipts %> kr = <%= r[0] %> fl <%= r[1] %> kr
</p>

<p>
  <strong>Zinz:</strong>
  <%= @event.zinz %>
</p>

<p>
  <strong>Double:</strong>
  <%= @event.double %>
</p>

<p>
  <strong>Composer:</strong>
  <%= @event.composer %>
</p>

<p>
  <strong>Author:</strong>
  <%= @event.author %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
