<!DOCTYPE html>
<html>
  <head>
    <title>Burgtheater</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1>The Burgtheater in Vienna, 26 Feb 1789 to 8 Mar 1791</h1>
      <%= yield %>
    </div>
  </body>
</html>
